<%
  const experience = [
  {
      'date': ['02.2020', '12.2022'],
      'title': 'Junior software developer',
      'location': 'Dyspatch, Victoria BC',
      'projects': [
        ['Dyspatch', 'https://app.dyspatch.io'],
      ],
      'tasks': [
        'Implementing features and fixing bugs',
      ],
      'stack': {
        'languages': [
          'Typescript',
          'Go',
          'CSS',
          'SQL',
        ],
        'tools': [
          'git',
          'React',
        ]
      }
    },
    {
      'date': ['11.2018', '11.2019'],
      'title': 'Junior web developer',
      'location': 'VERB Interactive, Victoria BC',
      'projects': [
        ['Marine Atlantic Booking', 'https://book.marineatlantic.ca'],
        ['Westcoast Connection', 'https://www.westcoastconnection.com'],
        ['Caesars Bluewaters Dubai', 'https://www.caesars.com/dubai'],
      ],
      'tasks': [
        'Worked on site builds and maintenance for the tourism industry.',
        'Debugging, web accessibility, translation, cross-browser compatibility.'
      ],
      'stack': {
        'languages': [
          'JavaScript',
          'PHP',
          'HTML',
          'CSS'
        ],
        'tools': [
          'git',
          'jQuery',
          'React',
          'Wordpress',
          'Bootstrap'
        ]
      }
    },
    {
      'date': ['06.2018', '11.2018'],
      'title': 'Tech support rep',
      'location': 'Silkstart Technology Inc., Victoria BC',
      'tasks': [
        'Provided tech support and wrote FAQs.',
        'Investigated and documented bugs.',
        'Fixed minor tech issues.'
      ],
      'stack': {
        'languages': [
          'JavaScript',
          'CSS',
          'Python',
        ],
        'tools': [
          'jQuery',
        ]
      }
    },
    {
      'date': ['03.2018', '05.2018'],
      'title': 'Web Development Diploma',
      'location': 'Lighthouse Labs, Victoria BC',
      'projects': [
        ['Nudge', 'https://www.github.com/l33loo/nudge-browser'],
        ['Altmaps', 'https://www.github.com/l33loo/altmaps'],
        ['Tweeter', 'https://www.github.com/l33loo/tweeter'],
      ],
      'stack': {
        'languages': [
          'JavaScript',
          'HTML',
          'CSS',
          'SASS',
          'Ruby',
          'SQL'
        ],
        'tools': [
          'git',
          'jQuery',
          'React',
          'Rails',
          'Webpack',
          'Node.js',
          'Express',
          'PostgreSQL',
          'MongoDB',
          'Mocha',
          'Bootstrap'
        ]
      }
    }
  ];
%>

<section id="experience">
  <div class="card">
    <div class="card__container">
      <h2 class="h1">Experience & Education</h2>
      <ol class="experiences">

        <% experience.forEach(function(e) { %>
          <li class="experience lazyload d-flex">
            <div class="h3 experience__date text-right">
              <%= e.date[0] %>
              <% if (e.date[1]) { %>
                &ndash; <%= e.date[1] %>
              <% } %>
            </div>
            <div class="experience__details">
              <h3><%= e.title %></h3>
              <div class="experience__location text-muted"><%= e.location %></div>
              <ul class="experience__stack row">

                <% e.stack.languages.forEach(function(lang) { %>
                  <li class="language button button__small"><%= lang %></li>
                <% }); %>

                <% e.stack.tools.forEach(function(tool) { %>
                  <li class="tool button button__small"><%= tool %></li>
                <% }); %>

              </ul>

                <% if (e.tasks && e.tasks.length) { %>
                  <ul>
                    <% e.tasks.forEach(function(task) { %>
                      <li><%= task %></li>
                    <% }); %>
                  </ul>
                <% } %>

                <%if (e.projects && e.projects.length) { %>
                  <h4>Projects:</h4>
                  <ul>
                    <% e.projects.forEach(function(project) { %>
                      <li>
                        <% if (project[1]) { %>
                          <a class="project" href="<%= project[1] %>" target="_blank"><%= project[0] %></a>
                        <% } else {%>
                          <%= project[0] %>
                        <% } %>
                      </li>
                    <% }); %>
                  </ul>
                <% } %>
            </div>
          </li>
        <% }); %>

      </ol>
    </div>
  </div>
</section>