<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Tajawal:200,300,400,500,700,800,900|Work+Sans:100,200,300,400,500,600,700,800&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include src/templates/nav -%>
    <%- include src/templates/header -%>

    <div role="main" id="main" class="site-wrap">
      <div class="overlay-1"></div>
      <div class="overlay-2"></div>
      <div class="container">
        <div class="row">
          <div class="content-container col-12 col-md-8">
            <%- include src/templates/about -%>
            <%- include src/templates/skills -%>
            <%- include src/templates/experience -%>
          </div>

          <div class="sidebar col-12 col-md-4">
            <%- include src/templates/contact -%>
          </div>
        </div>
      </div>
    </div>

    <div id="load">

    </div>
  </body>
</html>
